.App{
}

.app-card-container-big {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5em;
} /* revisado */


.app-card-container-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
} /* revisado */

.app-card-container-small > * {
    flex: 0 1 calc(20% - 20px); // Ajuste para que 4 cards quepan en una línea
    min-width: 300px;
} /* revisado */

@media (max-width: 1700px) {
    /* Cambia a 2 columnas en pantallas de hasta 768px */
    .app-card-container-small {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Ajuste para que 2 cards quepan en una línea */
    }
} /* revisado */

/* La verdad que hacerlo responsive fue TAN DIFICIL pero bueno, espero que alguien lo note */

.app-preguntas-frecuentes-container{
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 45em;
    display: grid;
    grid-gap: 10px;
}

.app-span-preguntas{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5em;
}

.app-log-section-container{
    margin-left: 5em;
    margin-top: 2em;
    margin-bottom: 3em;
}

.app-big-text-container{
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    gap: 1em;
    margin-bottom: 5em;
}

.app-top-bar-container{
    margin: 1em 2em 2em 3em;
}


