.card-container{
    background: linear-gradient(152.34deg, #730A2F -1.4%, #170F48 60.78%);
    color : white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*
    width: 400px;
    height: 300px;
     */
}

.card-texto1{
    font-size: 30px;
    font-weight: bolder;
}

.card-texto2{
    font-size: 20px;
    margin-top: 20px;
}
