p {
    margin-block-start: 0;
    margin-block-end: 0;
}

body{
    background-image: linear-gradient(103.24deg, rgba(0, 8, 29, 0.9) 23.83%, rgba(0, 8, 29, 0.3) 96.1%),url(https://assets.nflxext.com/ffe/siteui/vlv3/51e53f54-0d9f-40ec-9e05-c030def06ac9/6a05463d-d298-4667-a126-505b2c49d30a/GT-es-20230515-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    margin: 0;
    padding: 0;
}
