.PFB-container{
    font-size: 25px;
    font-weight: normal;
    color: white;
    background-color: rgba(19, 33, 68, 1);
    padding: 25px;

}

.PFB-up-container{
    width: 100%;
    display: flex;
}

.PFB-pregunta{
    flex-grow: 1;
}

.PFB-cruz{
    height: 30px;
    width: 30px;
}

.PFB-down-container {
    margin-top: 30px;
}
