.upbanner-container{
    color: white;
    width: 55%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.upbanner-grande{
    font-size: 70px;
    font-weight: bolder;
}

.upbanner-chico{
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
}

